body {
    background: lightgray;
    margin:0; 
    height:100vh; 
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial; 
    overflow: hidden;
}

.overlay {
    position: absolute; 
    padding: 10px; 
    background: rgba(255,255,255,0.12); 
    color: #000;
    border-radius: 6px; 
    backdrop-filter: blur(6px); 
    box-shadow: 0 2px 6px rgba(0,0,0,0.12); 
    z-index: 1200; 
 
}

#floating-title {
    top: 12px; left: 12px;
}

#info-panel {
    top: 10px; right: 10px; 
}